In [3]:
#Importar los módulos necesarios para el funcionamiento de nuestro programa
import requests
import pandas as pd

In [4]:
#cURL(cmd) Request del website convertida a Python utilizando curl.trillworks.com
headers = {
    'authority': 'www.truecar.com',
    'sec-ch-ua': '^\\^Google',
    'accept': 'application/json, text/plain, */*',
    'dnt': '1',
    'x-xsrf-token': 'MOTcqa/MOsWxJEEm8yFyLP/JeZoLZX51hsmYzizSoZHN/a8qXkoYdsBv5/hk9e5K2gkAR/IBLxbEzaxqKP7v/g==',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-daly-city-ca/',
    'accept-language': 'en-US,en;q=0.9',
    'cookie': 'referrer=ZTC0000000; _abp_auth_s=yzTPYfQMRiWI06WQx5CGb5zmaK7qRLSmUV7DeX0Affg; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNzQ0YWUyZC1kYWUxLTRiOTgtOWEyMy1iOTFhZWQxOTdjY2YiLCJpYXQiOjE2MzIxOTg3MzcsImV4cCI6MTY0ODE5ODczNywianRpIjoiZTY5OTEzYzUtMDQ4Yy00NTM0LTgwOTEtYzljNGUwZjNiODI4IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; tc_v=356fb25e-a436-4d1e-87e4-04616e8b8fe0; u=rBEAC2FJYFF2QQAQabF5Ag==; g_state=^{^\\^i_p^\\^:1632205953569,^\\^i_l^\\^:1^}; user_zip_code_new-york-ny=10001; user_zip_code_daly-city-ca=94016; capselaPreferredPostalCode=94016; XSRF-TOKEN=MOTcqa^%^2FMOsWxJEEm8yFyLP^%^2FJeZoLZX51hsmYzizSoZHN^%^2Fa8qXkoYdsBv5^%^2Fhk9e5K2gkAR^%^2FIBLxbEzaxqKP7v^%^2Fg^%^3D^%^3D; _abp_backend_session=R1FrYmZLemRSNUJSSDh3eDliOXNjaUtUN2pLV1dEVStISUJFamZYdC96bWJDYVdzUXdQWjA1MHFxOWsyY1Z4YjEvVVQxd0dVbVZXZGhkQWdaVUhwcmJHbnJuVWhsNk5PaVpMNDY5czdGekQ0SFcwaVM5VzBReDdielZJekx5Z2hBZE5ObXNaSTRIdGR6d1NiSmtEQThRPT0tLThUWXNqOER4WlhBcCtMM3hodHpLN1E9PQ^%^3D^%^3D--a4ed358ec851f343bae6d99c0448487e9f9fdf78; _dd_s=rum=0&expire=1632209695803',
}

params = (
    ('city', 'daly-city'),
    ('collapse', 'true'),
    ('fallback', 'true'),
    ('include_incentives', 'true'),
    ('include_targeted_incentives', 'true'),
    ('new_or_used', 'u'),
    ('page', '1'),
    ('per_page', '30'),
    ('postal_code', '94016'),
    ('search_event', 'true'),
    ('sort^/[^/]', 'best_match'),
    ('sponsored', 'true'),
    ('state', 'ca'),
)

response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

In [5]:
#Asignar una variable al objeto JSON de la request para facilitar su acceso
jsonresponse = response.json()

In [6]:
#Asignar una variable a la clave 'listings' del diccionario para facilitar su acceso
listings = jsonresponse['listings']

In [7]:
#Crear listas vacías dentro de las que vamos a añadir la información que deseamos obtener del website
marca_sf = []
modelo_sf = []
año_sf = []
millaje_sf = []
precio_sf = []

In [8]:
#Loop que va desde 0 hasta el número de items contenidos en la variable 'listings', añadiendo por orden los datos
#que deseamos a nuestras listas
for i in range(len(listings)):
    marca_sf.append(listings[i]['vehicle']['make'])
    modelo_sf.append(listings[i]['vehicle']['model'])
    año_sf.append(listings[i]['vehicle']['year'])
    millaje_sf.append(listings[i]['vehicle']['mileage'])
    precio_sf.append(listings[i]['vehicle']['list_price'])

In [10]:
sfdf = pd.DataFrame({'Marca_sf':marca_sf, 'Modelo_sf':modelo_sf, 'Año_sf':año_sf, 'millaje_sf':millaje_sf, 'precio_sf':precio_sf})

In [11]:
sfdf

         Marca_sf Modelo_sf  Año_sf  millaje_sf  precio_sf
0            FIAT      500e    2018       17067    15235.0
1             BMW        X3    2018       20759    33988.0
2            Ford     F-150    2019       20016    41994.0
3      Volkswagen     Jetta    2019       27687    20595.0
4            FIAT      500e    2018       18536    14985.0
5            Jeep  Cherokee    2019       22938    29988.0
6          Nissan    Altima    2017       99004    11000.0
7          Toyota    Tacoma    2018       43579    34988.0
8            Ford  EcoSport    2018       48598    18888.0
9            Ford  Explorer    2019       16839    39991.0
10       INFINITI      QX60    2018       70734    29999.0
11         Toyota     Camry    2019       14708    30988.0
12      Chevrolet  Colorado    2018       34661    25999.0
13            BMW        X1    2018       36673    25495.0
14          Lexus        IS    2019       22696    32988.0
15           Ford  Explorer    2018       57666    29994.0
16          Honda    Accord    2019       24016    23988.0
17  Mercedes-Benz   C-Class    2016       36477    24999.0
18            BMW  5 Series    2018       51126    32795.0
19          Honda     Civic    2012      119000     7115.0
20      Chevrolet      Volt    2018       16054    25350.0
21           Ford     F-150    2018       63911    33999.0
22           Ford     F-150    2018       37854    39491.0
23         Toyota   Corolla    2018       62289    17988.0
24            BMW  5 Series    2018       37926    34495.0
25            BMW        X3    2019       31976    35795.0
26         Toyota     Camry    2019       24969    24988.0
27            BMW        X5    2018       44182    39995.0
28            BMW  3 Series    2018       27938    27495.0
29         Toyota    Tacoma    2018       43131    33988.0