In [1]:
#Importar los módulos necesarios para el funcionamiento de nuestro programa
import requests
import pandas as pd

In [2]:
#cURL(cmd) Request del website convertida a Python utilizando curl.trillworks.com
headers = {
    'authority': 'www.truecar.com',
    'sec-ch-ua': '^\\^Google',
    'accept': 'application/json, text/plain, */*',
    'dnt': '1',
    'x-xsrf-token': 'HOWtBc5GqFwdo1SqF0ELhyTtgjVPRcNnNDKymakEVfvh/N6GP8CK72zo8nSAlZfhAS376LYhkgR2NoY9rSgblA==',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
    'accept-language': 'en-US,en;q=0.9',
    'cookie': 'referrer=ZTC0000000; _abp_auth_s=yzTPYfQMRiWI06WQx5CGb5zmaK7qRLSmUV7DeX0Affg; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNzQ0YWUyZC1kYWUxLTRiOTgtOWEyMy1iOTFhZWQxOTdjY2YiLCJpYXQiOjE2MzIxOTg3MzcsImV4cCI6MTY0ODE5ODczNywianRpIjoiZTY5OTEzYzUtMDQ4Yy00NTM0LTgwOTEtYzljNGUwZjNiODI4IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; tc_v=356fb25e-a436-4d1e-87e4-04616e8b8fe0; u=rBEAC2FJYFF2QQAQabF5Ag==; g_state=^{^\\^i_p^\\^:1632205953569,^\\^i_l^\\^:1^}; user_zip_code_new-york-ny=10001; capselaPreferredPostalCode=10001; XSRF-TOKEN=HOWtBc5GqFwdo1SqF0ELhyTtgjVPRcNnNDKymakEVfvh^%^2FN6GP8CK72zo8nSAlZfhAS376LYhkgR2NoY9rSgblA^%^3D^%^3D; _abp_backend_session=RndIc0VrQlJkRWFURytzcnA3U3BkcnZkTzNqWXNRS1gwSnpXcG02M09QTjc0ZmV0UWcvZ2ExK0VjdHR0OHhIZ3gzUFFlMVJuY1JEZ1c0SWhDZ0l2aFpTZVJHcng4OXdtMExnRnJ4YmhIMU9FZDFGbGU0WmkxMWQ0QkVCTC85NElzL1NxUzcyTEhxSWduMXU0VGZNVnJRPT0tLVQvRkw2Y2cxN0JtNDV0dVUrY0YxWVE9PQ^%^3D^%^3D--b133e6dcb437724533f0dcfa6214d5210aee5804; _dd_s=rum=0&expire=1632200306479',
    'if-none-match': 'W/^\\^4be839c96c4eab9bd6435cddd7a35e73^\\^',
}

params = (
    ('city', 'new-york'),
    ('collapse', 'true'),
    ('fallback', 'true'),
    ('include_incentives', 'true'),
    ('include_targeted_incentives', 'true'),
    ('new_or_used', 'u'),
    ('page', '1'),
    ('per_page', '30'),
    ('postal_code', '10001'),
    ('search_event', 'true'),
    ('sort^/[^/]', 'best_match'),
    ('sponsored', 'true'),
    ('state', 'ny'),
)

response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

In [3]:
#Asignar una variable al objeto JSON de la request para facilitar su acceso
jsonresponse = response.json()

In [4]:
#Asignar una variable a la clave 'listings' del diccionario para facilitar su acceso
listings = jsonresponse['listings']

In [5]:
#Visualizar la clave 'vehicle' del diccionario para comprender cómo está organizada la información
#listings[0]['vehicle']

In [ ]:
#Visualizar la marca del primer resultado
#listings[0]['vehicle']['make']

In [7]:
#Visualizar el modelo del primer resultado
#listings[0]['vehicle']['model']

In [8]:
#Visualizar el año del primer resultado
#listings[0]['vehicle']['year']

In [9]:
#Visualizar el millaje del primer resultado
#listings[0]['vehicle']['mileage']

In [10]:
#Visualizar el precio del primer resultado
#listings[0]['vehicle']['list_price']

In [11]:
#Crear listas vacías dentro de las que vamos a añadir la información que deseamos obtener del website
marca_ny = []
modelo_ny = []
año_ny = []
millaje_ny = []
precio_ny = []

In [12]:
#Loop que va desde 0 hasta el número de items contenidos en la variable 'listings', añadiendo por orden los datos
#que deseamos a nuestras listas
for i in range(len(listings)):
    marca_ny.append(listings[i]['vehicle']['make'])
    modelo_ny.append(listings[i]['vehicle']['model'])
    año_ny.append(listings[i]['vehicle']['year'])
    millaje_ny.append(listings[i]['vehicle']['mileage'])
    precio_ny.append(listings[i]['vehicle']['list_price'])

In [13]:
#Crear un DataFrame que presenta nuestra información de la forma en que la deseamos
nydf = pd.DataFrame({'Marca_ny':marca_ny, 'Modelo_ny':modelo_ny, 'Año_ny':año_ny, 'Millaje_ny':millaje_ny, 'Precio_ny':precio_ny })

In [14]:
#Exportar nuestro DataFrame hacia un archivo excel
nydf.to_excel('nydf.xlsx', index=False)

         Marca_ny       Modelo_ny  Año_ny  Millaje_ny  Precio_ny
0          Nissan           Rogue    2018       44943    19565.0
1           Lexus              ES    2018       29726    28428.0
2            Jeep  Grand Cherokee    2018       71552    22495.0
3   Mercedes-Benz         C-Class    2018       33753    22950.0
4   Mercedes-Benz         E-Class    2018       45295    27350.0
5          Nissan           Rogue    2018       24474    21169.0
6           Lexus              RX    2017       27973    34283.0
7          Nissan           Rogue    2018       29393    18495.0
8   Mercedes-Benz             GLE    2018       20443    39995.0
9   Mercedes-Benz             GLC    2018       37761    35901.0
10  Mercedes-Benz             GLE    2018       15142    44901.0
11         Nissan           Rogue    2018       92924    11995.0
12  Mercedes-Benz             GLC    2021        8638    49670.0
13  Mercedes-Benz         C-Class    2018       28781    23250.0
14  Mercedes-Benz             GLE    2018       36892    41901.0
15         Nissan           Rogue    2018       15967    21889.0
16          Lexus              NX    2018       25123    30223.0
17  Mercedes-Benz         C-Class    2018       19398    24450.0
18         Nissan           Rogue    2018       52458    19889.0
19  Mercedes-Benz             GLC    2021        8326    50915.0
20  Mercedes-Benz         S-Class    2018       30195    73901.0
21         Nissan           Rogue    2018       19949    20998.0
22  Mercedes-Benz             GLC    2018       25968    36901.0
23          Lexus              NX    2018       21759    30846.0
24  Mercedes-Benz         E-Class    2018       36829    28950.0
25  Mercedes-Benz         C-Class    2018       16167    33901.0
26  Mercedes-Benz         S-Class    2019       58554    69901.0
27         Nissan           Rogue    2018       18418    22588.0
28          Lexus              RX    2018       34366    36043.0
29          Lexus              RX    2019       27264    39479.0